/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(116 199 236 / 95%);
  margin-right: 7px;
}

i.nf {
  font-family: "VictorMono NF", ui-monospace, monospace;
  font-weight: bold;
  font-size: 16px;
  padding-right: 4px;
}

body {
  color: rgb(205 214 254 / 95%);
  font-family: "VictorMono NF", ui-monospace, monospace;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: linear-gradient(rgb(24 24 37 / 80%), rgb(17 17 27 / 60%));
  border-radius: 20px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 2px 1.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery,
.weather,
.hardware,
.workspaces {
  margin-right: 10px;
}

.logo {
  margin-right: 20px;
}

.weather,
.cpu,
.network {
  margin-left: 10px;
}
.workspaces {
  display: flex;
  align-items: center;
  background: rgb(88 91 112 / 75%);
  padding: 4px 8px;
  border-radius: 15px;
  justify-self: center;
}

.workspace {
  background: rgb(255 255 255 / 0%);
  margin: 0px 4px;
  padding: 2px 5px;
  border-radius: 5px;
  line-height: 1;
  border: 0;
  color: rgba(205 214 244 / 90%);
  cursor: pointer;
  transition: background-color 0.7s ease;
  font-size: 14px;

  &.displayed {
    background: rgb(255 255 255 / 0%);
  }

  &.focused {
    background: rgb(116 199 236 / 50%);
  }

  &:hover {
    background: rgb(148 226 213 / 40%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(88 91 112 / 75%);
  color: rgb(205 214 244 / 90%);
  border-radius: 15px;
  line-height: 1;
  padding: 5px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #f38ba8;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.hardware, .telemetry {
  background: rgb(88 91 112 / 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 15px;
}

.hardware i {
  color: rgba(203, 166, 247, 0.9);
}

.telemetry i {
  color: rgba(250, 179, 135, 0.9);
}
